# --- FRONTEND (VITE) ---
VITE_API_URL=/api
VITE_AUTHENTIK_PUBLIC_URL=https://auth.example
VITE_AUTHENTIK_CLIENT_ID=
# frontend/build-config.js -> hand pasted values for image build on pipeline

# --- DB & JWT ---
DB_NAME=wiki
DB_USER=postgres
DB_PASSWORD=
DB_HOST=local
DB_PORT=5432
JWT_KEY=

# --- BACKEND (FLASK) & AUTHENTIK CORE ---
AUTHENTIK_ISSUER=http://authentik-server:9000/application/o/<application_name>/
AUTHENTIK_PUBLIC_URL=https://auth.example

# CLIENT DATA FOR OAUTH2.0
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=

AUTHENTIK_HOST=https://auth.example
AUTHENTIK_INTERNAL_URL=http://authentik-server:9000

# AUTHENTIK CONFIG
AUTHENTIK_SECRET_KEY=
AUTHENTIK_BOOTSTRAP_PASSWORD=

AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_POSTGRESQL__HOST=local