.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  text-decoration: none;
  transition: var(--transition-base);
  color: var(--color-fg-dark);
}

.logo:visited {
  color: inherit;
}

.icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  transition: var(--transition-base);
}
